@import '../../../main-style.scss';

.note-card-container{
    position: relative;
    background : white;
    border-radius: 5px;
    
    box-shadow : 0px 2px 15px 2px rgba(black , 0.68); 
    transition : box-shadow 0.2s ease-out;


    &:hover{
        cursor: pointer;
        box-shadow : 0px 0px 0px 4px rgba(black , 0.68); 


        .x-button {
            opacity: 1;
            transform: scale(1);

            transition-delay: 0.35s;
        }

    }

    .note-card-content
    {
        padding : 25px;



        .note-card-title
        {
            font-size : 22px;
            font-weight : bold;
            color : $purple;
        }


        .note-card-body
        {
            position : relative;
            min-height : 80px; 
            overflow : hidden;

            .new-input-style{
             width :100%;
            }

            input{
                max-width :100%;
            }

            textarea{
                border:none;
                width:100%; 
                min-height:100px;
                overflow:auto;
            }


            .fade-out-truncation{
                position :absolute;
                bottom : 0; 
                pointer-events: none; 
                height :  50%;
                width : 100%;
                background: linear-gradient(to bottom, rgba(white, 0) 0%, rgba(white, 0.8) 50%, white 100%);

            }

        }
    }
}

 
 
.x-button{

    position: absolute;
    top : 12px;

    right : 12px;
    height: 34px;
    width : 34px;

    background-color: $light-red;

    background-image: url('../../../assets/image/account.svg');
    background-repeat: no-repeat;

    background-position: center;

    transition: opacity 0.2s ease-out, transform 0.2s ease-out;

    // the button is hidden by default
    opacity: 0;
    transform: scale(0.35);

    border-radius: 4px;


    &:hover { 
        background-color: darken($light-red, 2%);
    }

   // on click
   &:active {
    background-color: darken($light-red, 4%);
}

}