<p>note-card works!</p>
<div #container class="note-card-container">



    <div class="note-card-content">

      <tr>
        <td class="tdCourcesStar">
           <input type="checkbox" value="0">Public
          &nbsp; <input type="checkbox" value="0">Private
           <br/>
        </td>
      </tr>
<br/>
      <tr>
        <td class="tdCourcesStar">
           <a href="">English</a> &nbsp; <a href="">Hindi</a>  &nbsp; <a href="">Marathi</a>
        </td>
      </tr>
<br/>
          <tr>
            <td class="tdCourcesStar">
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
            </td>
          </tr>
    

        <h1 class="note-card-title">  
            <input type="text" class="new-input-style"  style="width: 90%;border:none;
            padding-top:15px;padding-bottom:15px" [placeholder]="nData.placeholderTitle" name="title" [(ngModel)]="nData.title" /> 

        </h1>
        <br/>
 
            <div  #bodyText  class="note-card-body" >
        
        <p>

            <textarea class="form-control"   id="comment"  [placeholder]="nData.placeholder" name="details" [(ngModel)]="nData.details"></textarea>
           

        </p>

       
        <div style="text-align: right;">
            <i class="fas fa-save fa-md save-button" style="color:green;" title="Save"> &nbsp;Save</i>
            &nbsp;
            <!-- <i class="far fa-trash-alt fa-lg x-button" style="color:red;" (click)="deleteThisNote();"></i> -->
        </div>
            
      

         <div #truncator class=" " >


         </div>
  
    </div>

    <div class="x-button" (click)="deleteThisNote();">

        
   </div>

</div>
