<div #container class="note-card-container">



   
<br/>


<div class="card" style="width: 25rem;">
    
    <div class="card-body">
          <tr>
              <td class="tdCourcesStar">
                <input type="checkbox" value="0">Public
                &nbsp; <input type="checkbox" value="0">Private
                <br/>
              </td>
          </tr>
        <br/>
            <tr>
              <td class="tdCourcesStar">
                <a href="">English</a> &nbsp; <a href="">Hindi</a>  &nbsp; <a href="">Marathi</a>
              </td>
            </tr>
            <br/>
            <tr>
              <td class="tdCourcesStar">
                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                <i class="fa fa-star text-warning" aria-hidden="true"></i>
              </td>
            </tr><br/>
      <h5 class="card-title">

            <input type="text" class="form-control" placeholder="Title" [(ngModel)]="nData.title">

      </h5>
      <p class="card-text">
        
        <textarea type="text"  class="form-control" style="height: 100px;" name="details" [(ngModel)]="nData.details">

        </textarea>
        
      </p>
      <a routerLink="/homelink/remainder" class="btn btn-primary"><i class="fa fa-bell-o" aria-hidden="true"></i></a> &nbsp;&nbsp;

      <a routerLink="/homelink/trash"class="btn btn-primary "><i class="fa fa-trash"></i></a>&nbsp;&nbsp;

      <a (click)="deleteThisNote()" class="btn btn-primary "><i class="fa fa-times" style="color: white;"></i></a>&nbsp;&nbsp;
      <a (click)="saveNote()" class="btn btn-primary" ><i class ="fa fa-floppy-o" style="color: white;"></i></a>&nbsp;&nbsp;


    </div>
  </div>

  <br/>

  
  