<br/>
<form #signup = "ngForm">
    
    
    <div class="container"  style="background-color:lightgoldenrodyellow">
        <div class="row main">
            <div class="col-md-6">
                <div class="row google">
                    <div class="col-md-12">
                        <img style="height: 25px;"/>
                    </div>
                </div><br/>
                <div class="row">
                    <div clss="col-md-12">
                        <h1 style="color: green; font-weight: bold;font-size: 24px;">Create your Recollect Account</h1>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text"
                                 class="form-control"
                                  placeholder="First Name"
                                  name="firstName"
                                  autocomplete="off" required
                                  [(ngModel)]="signupModelForm.firstName"
                                  #firstName = "ngModel" 
                                  [class.is-invalid] = "firstName.invalid && firstName.touched"
                                  pattern="[a-zA-Z ]*"  
                                  
                                  />
                                <span *ngIf="firstName.invalid && firstName.touched" class= "input-group-addon  errormsg" >
                                     <i class="fa fa-fw fa-info-circle " style="height:10px;" aria-hidden="true" ></i>
                                    First Name must be alphabets  </span>
                             

                    </div>
                    <div class="col-md-6">
                        <input type="text"
                             class="form-control" 
                               placeholder="Last Name"
                                name="lastName"
                                autocomplete="off" required
                                [(ngModel)]="signupModelForm.lastName"
                                #lastName = "ngModel"
                                [class.is-invalid] = "lastName.invalid && lastName.touched"
                                pattern="[a-zA-Z ]*"  />

                                <span *ngIf="lastName.invalid && lastName.touched" class= "input-group-addon  errormsg" >
                                    <i class="fa fa-fw fa-info-circle " style="height:10px;" aria-hidden="true" ></i>
                                   Last Name must be alphabets  </span>
                            
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-md-12 input-group">
                        <input type="email" 
                            class="form-control"
                             placeholder="Email address"
                             name="email"
                             autocomplete="off" required
                                  [(ngModel)]="signupModelForm.email"
                                  #email = "ngModel"
                                  [class.is-invalid] = "email.invalid && email.touched"
                                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                   />
                            
                             <span *ngIf="email.invalid && email.touched" class= "input-group-addon  errormsg" >
                                <i class="fa fa-fw fa-info-circle " style="height:10px;" aria-hidden="true" ></i>
                               Please enter valid email  </span>

                                                                 
                           </div>
                </div>
                <div class="row">
                    <!-- <div class="col-md-12">
                        <button class="btn btn-default text-primary">Use my current gmil address instead</button>
                    </div> -->
                </div><br/>
                <div class="row">
                    <div class="col-md-6">
                        <input type="password"
                         class="form-control" 
                         placeholder="Password"
                         name="password"
                         autocomplete="off" required
                                  [(ngModel)]="signupModelForm.password"
                                  #password = "ngModel"
                                  [class.is-invalid] = "password.invalid && password.touched"
                                  />
                                  <span *ngIf="password.invalid && password.touched" class= "input-group-addon  errormsg" >
                                    <i class="fa fa-fw fa-info-circle " style="height:10px;" aria-hidden="true" ></i>
                                   Please enter your passwword  </span>
                    </div>
                    <div class="col-md-6">
                        <input type="password"
                         class="form-control" 
                         placeholder="Confirm password" 
                         name="confirmpassword"
                         [(ngModel)]="signupModelForm.confirmpassword"
                        #confirmpassword = "ngModel"
                        autocomplete="off" required
                        [class.is-invalid] = "confirmpassword.invalid && confirmpassword.touched "
                        
                        (blur) = "checkConfirmPassword()" />
                        <span *ngIf="confirmpassword.invalid && confirmpassword.touched" class= "input-group-addon  errormsg" >
                            <i class="fa fa-fw fa-info-circle " style="height:10px;" aria-hidden="true" ></i>
                           Please enter your confirm password  </span>

                        
                           <span *ngIf="passwordErrorFlag " class= "input-group-addon  errormsg" >
                            <i class="fa fa-fw fa-info-circle " style="height:10px;" aria-hidden="true" ></i>
                        Password and confirm password not matching   
                         </span>
                          

                    </div>
                    <!-- <div class="col-md-12">
                        <small class="form-text text-muted">Use 8 or more characters with a mix of letters, numbers & symbols</small>
                    </div> -->
                </div><br/>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Show password
                            </label>
                        </div>
                    </div>
                </div><br/> -->
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" 
                             class="form-control"
                                placeholder="contactnumber"
                                autocomplete="off" required
                                  name="contactNumber"
                                  [(ngModel)]="signupModelForm.contactNumber"
                                  #contactnumber = "ngModel"
                                  [class.is-invalid] = "contactnumber.invalid && contactnumber.touched"
                                  minlength="10"
                                  maxlength="10"
                                  pattern="[0-9]*"/>
                                  <span *ngIf="contactnumber.invalid && contactnumber.touched" class= "input-group-addon  errormsg" >
                                    <i class="fa fa-fw fa-info-circle " style="height:10px;" aria-hidden="true" ></i>
                                   Please enter your correct contact number  </span>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" 
                        class="form-control"
                         placeholder="address"
                             name="address"
                             autocomplete="off" required
                                  [(ngModel)]="signupModelForm.address"
                                  #address = "ngModel" required
                                   [class.is-invalid] = "address.invalid && address.touched"
                                  pattern="[a-zA-Z ]*"/>
                                  <span *ngIf = "address .invalid && address.touched" class= "input-group-addon  errormsg" >
                                    <i class="fa fa-fw fa-info-circle " style="height:10px;" aria-hidden="true" ></i>
                                   Please enter your address  </span>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default text-primary" routerLink="/newLogin">Log In</button>
                    </div>
                  
                    <div class="col-md-6">
                        <button class="btn btn-primary text-white" [disabled] = "signup.form.invalid " style="float:right" (click) = "addUser()">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img class="account_image responsive" [src]="account"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label style="padding-left: 94px;">One account. All of Google working for you.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>