.container{
    width: 60%;
    border: 1px solid rgb(208, 208, 250);
}
.main{
    padding: 30px;
}
.text-primary:hover{
    background-color:rgb(187, 187, 211);
}
.account_image{
    padding-top: 40%;
    padding-left: 22%;
}