@import '../../../main-style.scss';

*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.side-bar{
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
 background: #042331;
 transition: all .5s ease;
}
.side-bar header{
  background: #063146;
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  user-select: none;
}
.side-bar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size:20px;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255, .1);
  border-bottom: 1px solid black;

}

ul li :hover a{
  padding-left: 50px;
}
.side-bar ul a i{
  margin-right: 16px;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    font-weight:bold;
    font-size: 16px;
    text-decoration: none;
    color:white;
  }

  a:hover {
     border-bottom:  5px solid green;
  }

    
 dangerLogout {
    font-weight:bold;
    font-size: 22px;
    text-decoration: none;
    color: red;
  }


  .top-bar
{
width:100%;
 
background:linear-gradient(to right, $pink,$blue);
display: flex;
 
box-shadow:  0px 0px 10px 0px rgba(black, 0.15);

a,p{
    font-size:24px;font-weight:bold;color: white;
}

  
}