<div class="main-container">
  <div style="height:25px;background-color: lime;">
    Trash
    </div>

  <app-note-child  *ngFor=" let i of  noteDataArr" [nData]="i"  (notify)="deleteNoteElement($event)"> </app-note-child>
    <!-- <div class="card" style="width: 17rem;">
    
        <div class="card-body">
          <h5 class="card-title">
    
                <input type="text" class="form-control" placeholder="Title"
                >
    
          </h5>
          <p class="card-text">
            
            <textarea type="text"  class="form-control" style="height: 100px;" name="details" 
            >
    
            </textarea>
            
          </p>
          <a routerLink="/homelink/note" class="btn btn-primary"><i  aria-hidden="true"></i>Note</a> &nbsp;&nbsp;
    
          <a routerLink="/homelink/note" class="btn btn-primary"><i class="fa fa-undo"></i>undo</a>&nbsp;&nbsp;
    
          
          
        </div>
      </div> -->
    
<!-- <div class="card-body" style="width: 350px;height:auto;">
    <br/>

    <div class="card">
    <h4 class="card-title" >infomation</h4>
    <p class="card-text">jdihdjhskjz</p>
    <br/><br/>
    <div class="" style="text-align: left; ">
        <button type="button" class="btn btn-default" style="background-color: yellowgreen;" (click)="undo()">Undo</button>
    </div>
</div>
</div> -->
</div>