@import '../../../main-style.scss';
 
.main-container{
   /* display: flex;
    flex-direction: column;
    max-width: 500px;


    margin : auto; */


    padding-top : 100px;
}

.newText
{
    color:linear-gradient(to right, $pink,$blue);
}

.notes-list
{
    margin-top : 35px;
}

app-note-card{
    display: block;
    margin-bottom: 25px;;
} 