<div class="main-container" >
  <div style="height:25px;background-color: lime;">
    Note
    </div>
    <br/>

  <div  *ngIf = "takeNoteFlag == false "
  class="card" style="width: 17rem;"> 
    <div class="card-body">
       <br/>   
        <h5 class="card-title">
          <input type="text" class="form-control" (click)="showCard()" placeholder="Take a note.." >

        </h5>
      </div>
  </div>

  <div *ngIf = "takeNoteFlag == true "
  class="card" style="width: 17rem;"> 
    <div class="card-body">
       <br/>   
        <h5 class="card-title">
          <input type="text" class="form-control" placeholder="Title" [(ngModel)]="nData.title">
        </h5>
        <p class="card-text">
        <input type="text"  class="form-control" style="height: 200px;" name="details "  placeholder="Take a note.." (blur) = "saveNote()" [(ngModel)]="nData.details"/>
       
        </p>
      </div>
  </div>

    <!-- <div class="search-box-container" >
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Take a Note...">
              
            </p>
          </div>
          <i class="fas fa-plus newText" style="color:blueviolet" (click)="addNewNote();">Add New Note</i>
      

    </div> -->






     
    
    <div class="notes-list">
     
    
    <app-note-child  *ngFor=" let i of  noteDataArr" [nData]="i"  (notify)="deleteNoteElement($event)"> </app-note-child>
    
    
    </div>
    
    
    
    </div>