<div class="main-container">

    <div class="search-box-container" >
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search...">
              <span class="icon is-small is-left">
                <i class="fas fa-search text-danger"></i>
              </span>
            </p>
          </div>
          <i class="fas fa-plus newText" style="color:blueviolet" (click)="addNewNote();">Add New Note</i>
    </div>
     
    
    <div class="notes-list">
    <!-- 
    <app-note-card [title]="'First Notes'" [body]="'First notes bodyyyyyyyyyyyy'"></app-note-card>
    <app-note-card [title]="'second Notes'" [body]="'second notes bodyyyyyyyyyyyy'"></app-note-card> -->
<!--     
    <app-note-card  *ngFor=" let i of  noteDataArr" [nData]="i"  (notify)="deleteNoteElement($event)"> </app-note-card>
     -->
    
    </div>
    
    
    
    </div>