<br/>
<br/>
<br/>
<div style="text-align: center;color: yellow;font-weight: 400;font-size: 100px;"
    >  <i class="far fa-bell"></i>

    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 300px;padding: 50px; ">
        <p class="date">1/7/2021</p>
        <h4 class="card-title" >infomation</h4>
        <p class="card-text">first project</p>
        <br/><br/>
        <div class="row">
        <div class="col-md-6" style="text-align: left; ">
            <button type="button" class="btn btn-default" style="background-color: yellowgreen;" routerLink="/homelink/trash">Trash</button>
        </div>
        <div class="col-md-6" style="text-align: left; ">
            <button type="button" class="btn btn-default" style="background-color: rgb(228, 163, 23);" 
                                   routerLink="/homelink/remainder"><i class="far fa-bell" style="color: yellowgreen;"></i>
                                </button>
        </div>
        </div>
    </div>

