
<div #container class="note-card-container">


<br/>
<br/>


<div class="card" style="width: 25rem;">
    
    <div class="card-body">
      <h5 class="card-title">

            <input type="text" class="form-control" placeholder="Title"
            >

      </h5>
      <p class="card-text">
        
        <textarea type="text"  class="form-control" style="height: 100px;" name="details" 
        >

        </textarea>
        
      </p>
      <a routerLink="/homelink/note" class="btn btn-primary"><i  aria-hidden="true"></i>Note</a> &nbsp;&nbsp;

      <a routerLink="/homelink/trash" class="btn btn-primary">Trash</a>&nbsp;&nbsp;

      
      
    </div>
  </div>

  <br/>
  </div>

